* {
      box-sizing: border-box;
}
.box-captcha {
    width: 30%;
    margin: 20px auto;
    padding: 2%;
    background: #8B1E2E;
}

h1{
  text-align: center;
  color: #8B1E2E;
    font-size: 49px;

}

.captcha {
  background: #8B1E2E;
  padding: 2%;

}

.captcha > #random {
  width: 100%;
  height: 154px;
  background: white;
  font-size: 63px;
  text-align: center;
}
/*--------------------Style answer--------------------*/
.box-answer {
    width: 100%;
    height: 154px;
    padding-top: 4%;
    position: relative;
}
.box-answer > input{
    background-color: #F9E777;
    width: 50%;
    height: 121px;
    margin-top: 2%;
    font-size: 49px;
    color: 
    text-align: center;
}

.box-answer > span {
  width: 10px;
  height: 10px;
}
.box-icon {
    width: 63px;
    right: 170px;
    position: absolute;
    display: inline-block;
    text-align: center;
    float: right;


}

.box-answer > img{
    width: 145px;
    float: right;
    right: 0;
    position: absolute;
    margin-right: 2%;
}
